<%- if controller_name != 'sessions' %>
  <ul class="nav center">
  <li class="nav-item">
    <a class="nav-link  btn-dark" href="/auth/google_oauth2"><img src="https://img.icons8.com/color/16/000000/google-logo.png">   Log In with Google</a>
  </li>
</ul>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <ul class="nav center">
  <li class="nav-item">
    <a class="nav-link btn-dark" href="/auth/google_oauth2"><img src="https://img.icons8.com/color/16/000000/google-logo.png">   Log In with Google</a>
  </li>
</ul>
<% end %>


<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
