<ul>
        <% @users.each do |i| %>
            <div class="card text-white bg-dark mb-3" style="width: 90rem;">
                <div class="card-body">
                <%= i.name %>
                 <% end %>
                </div>
            </div>
            </ul>