<div class="center">
<div class="fade-in"><img class="edit-image" src=https://www.freelogodesign.org/file/app/client/thumb/dcb5fc67-e9fa-4287-9288-49cfbcf898b8_200x200.png?1604445793414"; style="width: 500px; height: 500px; margin: 0px;"></div><br />

<p>Review your favorite restaurants and discover restaurants around your area!</p>
</div>

