<div class="col-xs-1 text-center" >
    <% if user_signed_in? %>
        <div class="card mb-3 center" style=" height: 80px; background-color: #e9fffee6">
            <div class="card-body">
                <h2>Hello, <%= link_to current_user.name.titleize, edit_user_registration_path %> </h2>
            </div>
        </div>
        <div class="fade-in"><img class="edit-image" src=https://www.freelogodesign.org/file/app/client/thumb/dcb5fc67-e9fa-4287-9288-49cfbcf898b8_200x200.png?1604445793414"; style="width: 500px; height: 500px; margin: 0px;"></div><br />
            <h5><%= link_to "Enter a New Restaurant", new_restaurant_path %></h5>
            <h6><%= link_to "See Restaurants", restaurants_path %></h6>
    <% else %>
            <div class="fade-in"><img class="edit-image" src=https://www.freelogodesign.org/file/app/client/thumb/dcb5fc67-e9fa-4287-9288-49cfbcf898b8_200x200.png?1604445793414"; style="width: 500px; height: 500px; margin: 0px;"></div><br />
            <p>Review your favorite restaurants and discover restaurants around your area!</p>
    <% end %>
</div>

