<blockquote class="blockquote">

<% if @restaurant %>
    <h1><%= link_to @restaurant.name, restaurant_path(@restaurant) %>'s Reviews:</h1>
<% else %>
    <h1>Here Are The Reviews:</h1>
<% end %>


    <ul>
        <% @reviews.each do |i| %>
        <li> <%= i.message %> | <%= i.stars %> &#9733</li>
        <footer class="blockquote-footer"> <%= i.created_at.strftime("%b-%e-%Y") %></footer><br />
        <% end %>
    </ul>
</blockquote>