<% if @restaurant %>
    <h1><%= @restaurant.name %>'s reviews:</h1>
<% end %>

<blockquote class="blockquote text-right">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
<h2>Stars: <%= @review.stars %></h2>
<h3> Review: <%= @review.message %></h3>
</blockquote>